*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
	scroll-behavior: smooth;
}
.banner{

	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(../img/7.jpg);
	background-size: cover;
	min-height:100vh;
}
.banner .banner-content{
	max-width:800px;
	text-align:center;
	
}
.banner-content h2{
	color: #fff;
	font-size:70px;
	
}
.banner-content p{
	margin-top:10px;
	font-size:15px;
	color: #fff;


}
section .banner-content span{
	color:rgb(21,40,65);
}
.btn{
	background:rgb(21,40,65);
	text-decoration: none;
	font-size:17px;
	color: #fff;
	display: inline-block;
	margin-top: 20px;
	padding: 10px 30px;
	letter-spacing: 2px;
	transition:0.5s;

}
.btn:hover{
	letter-spacing: 6px;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding:40px 100px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
    align-items: center;

}
header.sticky{
	background:rgb(252,252,252);
	padding:10px 100px;
	box-shadow: 0px 3px 8px rgba(0,0,0,0.5);

}
header.sticky .logo{
	color: #111;
}

header .logo{
	color: #fff;
	font-weight: bolder;
	font-size:30px;
	text-decoration: none;
}
header .logo span{
	font-weight: bolder;
	color: rgb(21,40,65);
}
header .navigation{
	display: flex;
   
}

.navigation li{
	list-style: none;
	margin-left:20px;
	font-size:16px;
}
.navigation li a{
	color: #fff;
	font-weight: lighter;
	text-decoration: none;
}
header.sticky .navigation li a{
	color: #111;
} 
section{
	padding:80px;
}
.row{
	width:100%;
	display: flex;
	justify-content: space-between;
}
.row .col50{
	width: 48%;
}
.row .col50 h3{
	margin-bottom: 10px;
	font-size:2em;
	color:#111;
	font-weight:300;
}
.title span{
	color: rgb(21,40,65);
	font-size: 40px;
	font-weight:700;
}
.row .col50 p{
	line-height:22px;
	font-size: 15px;
}
.row .col50 img{
	min-width: 550px;
	max-height:350px;

}
.menu h3{
	text-align: center;
	font-size:2em;
	color:#111;
	font-weight:300;
	margin-bottom:30px;
	margin-top:-50px;
}
.box{
	border:15px solid #fff;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.8);
	box-sizing: border-box;
	margin-bottom:40px;
}
.menu .row{
	width:100%;
	display: flex;
	justify-content: space-between;
	
}

button{
	margin-left:500px;
}

.contact h3{
	text-align: center;
	font-size:2em;
	color:#111;
	font-weight:300;
	margin-bottom:30px;
	margin-top: -50px;
}
.contact h4{
	color:#111;
	font-size:30px;
	margin-bottom: 20px;
	font-weight:500;
}
form .contactform{
	position: absolute;
	left:450px;
	height:450px;
	width:400px;
	box-sizing: border-box;
	padding:50px;
	text-align: center;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.8);
}
.contactform .inputbox input,
.contactform .inputbox textarea{
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #555;
	padding: 10px;
	color: #111;
	outline: none;
	font-size:18px;

}
.contactform .inputbox input[type="submit"]{
max-width: 100px;
display: inline-block;
font-size:18px;
text-transform: uppercase;
background:rgb(21,40,65);
color: #fff;
}
@media(max-width:900px){
	header,header.sticky{
		padding:10px 20px;
	}
	header .navigation{
		font-size:15px;
	}
	section{
		padding: 20px;
	}
	.banner-content h2{
		font-size:2em;
		color:#fff;
	}
	.row{
		flex-direction:column;
	}
	.row .col50{
		width: 100%;

	}
	.row .col50 img{
		height:300px;
		width:400px;
		margin-top:20px;

	}
	.title{
		text-align: center;
	}
	.menu h3{
		margin-top: 20px;
	}

	.menu .row img{
		height:200px;
		width:300px;
	}
	.menu.box{
	margin:20px;

 }

}